<%- include('../partials/header') %>

<div class="card">
<div class="card-header"> 
    <h1><%= service.title %></h1>
  </div>
  <div class="card-body">  
    <p><%= service.subTitle %></p>
    <p><%= service.content %></p>
    <% service.subContent.forEach(sub => { %>
        <div class="mb-3">
          <a href="/services/vda/<%= sub.title %>" class="btn btn-link"><%= sub.title %></a>
        </div>
    <% }) %>
  </div>
  <div class="card-footer">
    <a href="/services" class="btn btn-link">Back...</a>
  </div>
</div> 


<%- include('../partials/footer') %>