<%- include('../partials/header') %>

<div class="card">
  <div class="card-header">
    <h1><%= subService.title %></h1>
  </div>
  <div class="card-body">
    <h6><%= subService.subTitle %></h6>
    <p><%= subService.content %></p>
  </div>
  <div class="card-footer">
    <a href="/services" class="btn btn-link">Back...</a>
  </div>
</div>

<%- include('../partials/footer') %>