<%- include('partials/header') %>
  
<!--TOP ROW-->
<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2>WE BELIEVE IN CHALLENGING THE STATUS QUO!</h2>
        <p>A manager accepts, the leader challenges...</p>
      </div>
    </div>
  </div>
</div>


<!--SECOND ROW-->
<div class="row mt-4">
    <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h6>Contact</h6>
          </div>
          <div class="card-body">
            <p>Tel: 07956 202 722</p>
            <p>Office: 01472 840120</p>
            <p>Email: James@arcsupportservices.co.uk</p>
          </div>
        </div>
      </div>
  <div class="col-sm-4 mb-4">
    <div class="card">
      <div class="card-header">
        <h6>eBook</h6>
      </div>
      <div class="card-body">
        <p>Download our latest eBook
            "Change Is Inevitable, Growth Is Optional"</p>
        <a href="/ebook">
          <button class="btn btn-link">Download eBook</button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-4">
    <div class="card">
      <div class="card-header">
        <h6>Next Webinar...</h6>
      </div>
      <div class="card-body">
        <p><%= webinar.title %></p>
        <p><%= webinar.date %> @ <%= webinar.time %></p>
        <a href="<%= webinar.attendees %>" class="btn btn-link">Sign-Up</a>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>